*{
  /*margin: 0;
  padding: 0;
  border: 1px solid black;*/
  transition-property: all;

  transition-timing-function: ease;

}

html{
    border: 1px solid green;

}


body{
    background: url("../static/images/mainbg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 11%;

/*    background: url("/static/images/mainbg.png");
    background-size: 100vh;
    background-position: 50vh 20vh;
    background-repeat: no-repeat;*/
}

p {
    font-family: "Open Sans";
    font-size: 16px;

}


h1 {
    font-family: "Varela Round";
    font-weight: bold;
    font-size: 50px;
}

h2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 40px;
}

h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
    color: #708090
}

.logo{
    display: inline-block;
    margin-bottom: 10px;
    height: 140px;
}

.title{

    display: inline-block;
    position: relative;
    left: 25px;

}

.loginPrompt{
    color: white;
    margin-bottom: 35px;
}


.introTxt{

    line-height: 1.5;
    width: 65vh;
    color: #383838;
    margin-bottom: 100px;
}

input[type=text] {
    background-color: #F0F8FF;
}

input[type=text]:focus {
    border: 3px solid #adddff;
}

input[type=password]{
    background-color: #64a3ef;
}

input[type=password]:focus {
    border: 3px solid #b7d7ff;
}

.description{
    position: relative;
    width: 500px;
    color: white;
    line-height: 1.5;

}

.logoHeadBlock{
    display: inline-block;
    width: 50%;
    height: 100%;

}

.loginBlock{
    display: inline-block;
    float: right;
    margin-right: 14vh;
    margin-top: 10vh;
}

.add-textbox{
    transition-duration: 0.6s;
    margin-bottom: 18px;
    width: 23em;
    height: 3em;

    border-radius: 5px;
    border: 0.5px solid #00008B;
    padding: 12px 20px;

}

.login-button{
    display: inline-block;
    position: relative;
}

.sign-up-button{
    display: inline-block;
    position: absolute;
}

.pageframe{
    /*border: 1px solid red;*/

    margin-top: 8vh;
    margin-left: 17vh;

}

input[type=text]::-webkit-input-placeholder {
  color: #798ba8;
  font-size: 15px;
  font-style: italic;
}

input[type=password]::-webkit-input-placeholder{
  font-size: 15px;
  font-style: italic;
  color: #dbe7f9;

}

/*::-moz-placeholder {
  color: #798ba8;
  font-size: 15px;
}
:-ms-input-placeholder {
  color: #798ba8;
  font-size: 15px;
}
::placeholder {
  color: #798ba8;
  font-size: 15px;
}
*/
input[type=submit]{
    transition-duration: 0.01s;
    float: right;
    display: inline-block;
    background-color: white;
    border: none;
    color: #4190f2;
    font-weight: bold;
    text-decoration: none;

    width: 11em;
    height: 3em;
    border-radius: 13px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


button{
    transition-duration: 0.01s;
    display: inline-block;
    background-color: #dbe7f9;
    border: none;
    color: #5b78a5;
    font-weight: bold;

    text-decoration: none;

    width: 11em;
    height: 3em;
    border-radius: 13px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


input[type=submit]:hover{
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: #f99b0e;
  outline-offset: 15px;
  text-shadow: 1px 1px 1px #7ac9ff;

}

button:hover {
  border: 0.5px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: #f99b0e;
  outline-offset: 15px;
  text-shadow: 1px 1px 2px white;
}

.error-msg{
    color: white;
    font-weight: bold;
}

.navbar1{
    margin-bottom: 40px;
    font-family: Open Sans;
    top: 1vh;
}

.navbar1 a{
    margin-right: 30px;
    text-decoration: none;
    color:  #383838;
}