html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
    background: url("/static/images/mainbg.png");
    background-size: 100%;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

p {
    font-family: "Open Sans";
    font-size: 18px;
    color: #808080;

}


h1 {
    font-family: "Varela Round";
    font-weight: bold;
    font-size: 60px;
}

h2 {
    font-family: "Varela Round";
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
    color: #708090
}

.logo{
    display: inline-block;
    margin-bottom: 40px;
    height: 140px;
}

.title{

    display: inline-block;
    position: relative;
    left: 25px;
    font-size: 80px;

}

.loginPrompt{
    color: white;
    margin-bottom: 36px;
}


.introTxt{

    line-height: 1.5;
    margin-bottom: 120px;
    width: 480px;
    color: #383838;
}

input[type=text] {
    background-color: #F0F8FF;
}

input[type=text]:focus {
    border: 3px solid white;
}

input[type=password]{
    background-color: #64a3ef;
}

input[type=password]:focus {
    border: 3px solid #b7d7ff;
}

.description{
    width: 500px;
    color: white;
    line-height: 1.5;
}

.logoHeadBlock{

    position: relative;
    display: inline-block;
    width: 500px;

}

.loginBlock{
    margin-left: 400px;
    position: absolute;
    display: inline-block;
    top: 200px;
}

.add-textbox{
    margin-bottom: 28px;
    width: 25em;
    height: 2em;

    border-radius: 13px;
    border: 1px solid #00008B;
    padding: 12px 20px;

}

.login-button{
    display: inline-block;
    position: relative;
}

.sign-up-button{
    display: inline-block;
    position: absolute;
}

.pageframe{
    margin-left: 150px;
    margin-top: 180px;
}

::-webkit-input-placeholder {
  color: #495768;
  font-size: 40px;
  font-weight: bold;
}
::-moz-placeholder {
  color: #495768;
  font-size: 40px;
}
:-ms-input-placeholder {
  color: #495768;
  font-size: 40px;
}
::placeholder {
  color: #495768;
  font-size: 40px;
}
input[type=submit]{
    background-color: white;
    border: none;
    color: #4190f2;
    font-weight: bold;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
    width: 12.5em;
    height: 3em;
    border-radius: 13px;
    cursor: pointer;
    opacity: -0.3;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.error-msg{
    color: white;
    font-weight: bold;
}