html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}
/*
*{
    position: relative;
    left: 20px;
    top: 30px;
}*/


.fullExerciseBox {

    /*background-color: yellow;*/
    border-bottom: 1px solid black;
    position: relative;
    width: 90%  ;


}
.exIMG{
    /* edit image spacing to the left of page
    */

    display: inline-block;
    font-size: 72px;

}


.exNameAndSpec {
    /* edit image spacing to the middle of page
    */
    position: relative;
    left: 0px;
    display: inline-block;
    top: 0px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.exSpec{

    font-size: 24px;
    line-height: 1.2;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.exDescription{

    position: relative;
    display: inline-block;
    top: 0px;

    font-color: #A9A9A9;
    left: 30px;
    color: #778899;

}

p {
    font-family: "Open Sans";
    font-size: 13px;

}


h1 {
   font-family: "Varela Round";
    font-weight: bold;
    font-size: 25px;
}

h2 {
    font-family: "Open Sans";
    font-size: 20px;
    margin-bottom: 20px;
}

h3 {
   font-family: "Open Sans";
    font-size: 36px;
    margin-bottom: 10px;
    color: #708090
}

.header{
    font-size: 15px;
}

.GDDescr {

    display: inline-block;
    color: #778899;
}

.GD{
    display: inline-block;
    margin-bottom: 20px;
}

.welcome{
    margin-bottom: 0px;
}

.welText{
    position: relative;
    display: inline-block;
}

.pageContent{
    margin-top: 8vh;
    margin-left: 10vh;

}

.logo{
    height: 60px;
    margin-left: 10px;
}

.extext{

}

.navbar1{
    display: inline-block;
    margin-bottom: 40px;
    font-family: Open Sans;
    top: 1vh;
}

.navbar1 a{
    margin-right: 30px;
    text-decoration: none;
    color:  #383838;
}

.navbar2 {
    display: inline-block;
    margin-right: 10vh;
    float: top;
    float: right;
    margin-bottom: 40px;
    font-family: Open Sans;
    top: 1vh;
}

.navbar2 a{
    margin-right: 30px;
    text-decoration: none;
    color:  #383838;
}