<!DOCTYPE html>
<html>
<head>
	<title>loseit!</title>
	<link rel="stylesheet" href="static/css/todolist.css">
</head>
<body>
	<center>
		<div class="pageframe">
			<div class="header">
				Welcome to loseit.io!
				<br />
				<br />
				<!--<a href="/todo" style="color: white"> Click here to enter </a>-->
			</div>


			<div class="addtask">
				<form action="/verifyLogin">
					Login:<br>
					<input type="text" name="user" placeholder="Username" size=25 class="add-textbox">
					<input type="password" name="password" placeholder="Password" size=25 class="add-textbox">
					<br>
					{%if failLogin:%}
						<p>Incorrect Username and Password</p>
					{% endif %}
					<input type="submit" class="add-button" value="Login">
				</form>
				<a href="/createAccount">
					<button class = "add-button" >Create Account</button>
				</a>

				<form action = "/checkAccounts">
					<input type="submit" class = "add-button" value = "Check Accounts" >
				</form>
			</div>

		</div>

	</center>
</body>
</html>