<!DOCTYPE html>
<html>
<head>
	<title>loseit!</title>
	<link rel="stylesheet" href="static/css/todolist.css">
</head>
<body>
	<center>
		<div class="pageframe">
			<div class="header">
				Welcome to loseit.io!
				<br />
				<br />
				<!--<a href="/todo" style="color: white"> Click here to enter </a>-->
			</div>


			<div class="addtask">
				<form action="/verifyLogin">
					Login:<br>
					<input type="text" name="user" placeholder="Username" size=25 class="add-textbox">
					<input type="password" name="password" placeholder="Password" size=25 class="add-textbox">
					<br>
					<input type="submit" class="add-button" value="Login">
				</form>
			</div>

			<div create account href = "/"></div>
		</div>

	</center>
</body>
</html>