<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout Preferences</title>
    <link rel="stylesheet" type="text/css" href="static/css/style2.css">

</head>
<body>
    <div class="addPreferences">
				<form action="/addPreferences">
					Login:<br>
					<input type="text" name="user" placeholder="Username" size=25 class="add-textbox">
					<input type="password" name="password" placeholder="Password" size=25 class="add-textbox">
					<br>
					{%if failLogin:%}
						<p>Incorrect Username and Password</p>
					{% endif %}
					<input type="submit" class="add-button" value="Login">
				</form>
				<a href="/createAccount">
					<button class = "add-button" >Create Account</button>
				</a>

				<form action = "/checkAccounts">
					<input type="submit" class = "add-button" value = "Check Accounts" >
				</form>
			</div>
</body>
</html>