<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Workout</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_viewWorkout.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round" rel="stylesheet">
</head>
<body>
    <div class="pageContent">

        <div class="navbar1"> <a href="#" class = "effect-1"> About</a> <a class = "effect-1" href="#">Careers</a></div>
        <div class="navbar2"> <a href={{fname}} class = "effect-1"> Change Preferences</a> <a href='#' class = "effect-1">Logout</a></div>
        <div class="welcome">
            <div class="welText">
                <h1>Hi {{ fname }}! This is your current workout plan. </h1>
            </div>

            <img src="../static/images/Group 17.png" class="logo" align="middle">
        </div>

        <div class="header">

            <div class="GD">
                <p><b>Goal</b></p>
                <p><b>Diet</b></p>
            </div>

            <div class="GDDescr">
                <p>Reach your goal in {{ weeks }} weeks</p>
                <p>Eat {{ cal }} calories per day</p>
            </div>

        </div>

        <h2 class="extext">Exercises</h2>

        <!-- Create 5 exercise boxes -->

        {% for exercise in exerciseList %}
        <div class="fullExerciseBox">

            <!-- To the Left -->
            <div class="exIMG">
                <!-- PRINT GIF HERE-->
                <!--<p>IMG</p>-->
                <img src= {{exercise['img']}}  width=70% height=70%>
            </div>



            <!-- IN THE MIDDLE -->
            <div class="exNameAndSpec">

                <h3>{{ exercise["ex"] }}</h3>

                <div class="exSpec">
                    <p>Duration:  {{ exercise["dur"] }} Minutes</p>
                </div>

            </div>
            <!-- To the Right -->
            <div class="exDescription">
                <p>{{ exercise["descr"] }}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</body>
</html>